.container {
  padding: 1rem;
  text-align: center;
  background-color: #5BAEAB;
  color: #CEE7E6;
}

.movies {
  max-width: 1200px;
  margin: 0 auto;
}

.movies__title {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .movie__container {
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
