.container {
    background-color: #2b2d42;
    color: #d5bdaf;
    padding: 3rem 1rem;
    text-align: center;
}

.form {
    max-width: 1200px;
    margin: 0 auto;
}

.form__image {
    border-radius: 2rem;
    max-width: 100%;
}

.form__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__title {
    margin:1rem 0;
}

input {
    margin: .5rem 0;
    border-radius: .5rem;
    padding: .3rem;
    border:1px solid #111;
}

.form__button {
    margin: 1rem 0;
    padding: .5rem 1.4rem;
    border-radius: .5rem;
    border: none;
    background-color: #d5bdaf;
    font-weight: bold;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .form__title {
        margin-top: 0;
    }

    .form__left {
        flex-basis: 50%;
    }

    .form__right {
        align-items: flex-start;
        flex-basis: 50%;
    }

    input {
        width: 50%;
    }
    


}
    
